<style>
    .tableContainer {
        justify-content: center;
        display: flex;
    }



    th,
    td {
        border: 1px solid black;
    }

    table {
        margin-top: 0.5%;
        width: 60%;
        height: auto;
    }

    tr>th {
        font-size: large;
        background-color: #d2f6ff;
        padding: 20px;
    }

    tr>td {
        background-color: #f0fbff;
        padding: 20px;
    }

    

    h2 {
        background-color: #d2f6ff;
        margin: 20px 0px;
        padding: 4px;
        text-align: center;
    }

    .AssignmentCard {
        border: 0.5px solid rgb(194, 189, 189);
        margin: 15px;
        margin-top: 5px;
        font-family: sans-serif;
        background-color: #fff;
        padding: 15px;
    }

    .AssignmentCard:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        cursor: pointer;
    }

    .assignmentEntry {
        display: flex;
    }
</style>
<h2>Assignment Details👇👇👇 </h2>
<div class="tableContainer">
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>total Marks</th>
                <th>created At</th>
                <th>deadline</th>
                <th>Uploaded Assignment </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{assignment.title}}</td>
                <td>{{assignment.description}}</td>
                <td>{{assignment.totalMarks}}</td>
                <td>{{formatDate assignment.createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
                <td>{{formatDate assignment.deadline "MMMM Do YYYY, h:mm:ss a"}}</td>
                <td><button>Download</button></td>
            </tr>
        </tbody>
    </table>

</div>
<h2>All Submissions👇👇👇 </h2>
<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Download ⬇ </th>
                <th>Submission Time</th>
                <th>Assign marks</th>
            </tr>
        </thead>
        {{#each assignment.allSubmissions }}
            <tbody>
                <tr>
                    <td>{{this.studentInfo.studentName}}</td>
                    <td>{{this.studentInfo.studentEmail}}</td>
                    <td><button>Download</button></td>
                    <td>{{formatDate this.submission.submissionTime "MMMM Do YYYY, h:mm:ss a"}}</td>
                    <td>
                        <form action="/{{this.studentInfo.studentEmail}}/" method="POST" id="{{@key}}">
                            <input type="number" name="marksAssigned" id="marksAssigned"
                                placeholder="{{this.submission.marksAssigned}}">
                            <input type="submit" value="Assign✌">
                        </form>
                    </td>
                </tr>
            </tbody>
        {{/each}}
    </table>
</div>

<script>
    const classCode = document.getElementById('classCode').innerHTML;
    const arraylength = document.getElementById('arraylength').innerHTML;
    for (let i = 0; i < arraylength; i++) {
        const form = document.getElementById(i);
        console.log(form);
        let action = '/teacherDashboard/' + form.action.split('/')[3] + '/' + classCode;
        form.setAttribute('action', action);
        console.log(form);

    }

</script>