<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }

    body {
        background-color: rgb(231 237 239);
    }

    #allSchedule {
        justify-content: center;
    }

    th,
    td {
        border: 1px solid black;
    }

    table {
        margin-top: 5%;
        width: 60%;
        height: auto;
    }

    tr>th {
        font-size: large;
        background-color: #d2f6ff;
        padding: 20px;
    }

    tr>td {
        background-color: #f0fbff;
        padding: 20px;
    }


    .supremeClassDashboard {
        height: 25%;
        margin: 10px auto;
    }

    .middleClassDashboard {
        height: 10%;
        margin: 10px auto;
    }

    .bottomClassDashboard {
        margin: 10px auto;
    }

    .mainContainer {
        margin: 1.5% 10%;
        padding: 3px;
        background-color: #AEDAE4;
        background-image: url('/images/backgroundImage2.svg');
        background-size: cover;
        height: 70%;
        text-align: center;
        box-shadow: 0 0 15px 1px #c7c7c7;
        border-radius: 2px;
        text-align: start;
        overflow-y: scroll;
    }

    .mainContainer-element {
        margin: 0% 2% 0 20%;
    }

    .data {
        overflow-y: scroll;
        height: 160px;
    }


    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .card {
        border: 0.5px solid rgb(194, 189, 189);
        margin: 30px;
        width: 370px;
        margin-top: 30px;
        font-family: sans-serif;
        background-color: white;
        justify-content: center;
        height: 20rem;
    }

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        cursor: pointer;
    }

    .data {
        padding: 2px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }

    .upperPart {
        color: rgb(44, 24, 24);
        background-color: #ddf6ff;
        text-align: center;
        padding: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .upperPart>div {
        padding: 6px;
    }

    .teacherDashClassName {
        font-size: larger;
        font-weight: 600;
    }

    .lowerPart {
        padding: 3%;
        justify-content: center;
        margin-bottom: 20px;
        background-color: white;
        text-align: center;
    }


    .description {
        overflow-y: scroll;
        height: 110px;
        text-align: center;
        padding: 20px;
        color: rgb(122, 117, 117)
    }

    ::-webkit-scrollbar {
        width: 0;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 5.5rem;
        margin: 5%;
    }

    #allAssignments{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 5.5rem;
        margin: 5%;
    }
</style>



<div class="supremeClassDashboard">
    <div class="mainContainer">
        <h1 style="font-size: xxx-large; padding: 5px;" class="mainContainer-element">{{classInfo.className}}</h1>
        <h2 style="font-size: medium; padding: 5px;" class="mainContainer-element">Students Enrolled:
            {{classInfo.classStudents.length}}</h2>
        <h2 style="font-size: medium; padding: 5px;" class="mainContainer-element">{{classInfo.classDescription}}</h2>
    </div>

</div>


<div class="middleClassDashboard">
    <div class="classNavbar">
        <div class="box1" id="box-1">
            <h3 style="font-size: x-large" onclick="openAssignments()">ASSIGNMENTS</h3>
        </div>
        <div class="box1" id="box-3">
            <h3 style="font-size: x-large" onclick="openTests()">TESTS</h3>
        </div>
        <div style="font-size: x-large" class="box1" id="box-2">
            <h3 onclick="openClassShedule()">CLASSES</h3>
        </div>

    </div>
</div>


<div class="bottomClassDashboard">
    <div id="allAssignments">
        {{#if (isEmpty allAssignments)}} 
            <div style="text-align: center; font-size: x-large; width:100%">No Items to show here<div>
        {{/if}}

        {{#each allAssignments}}

        <div class="assignment card {{this._id}}" id="assignment-{{@key}}" onclick="openAssignment({{@key}})">
            <div class="upperPart">
                <div style="font-size: xx-large;">{{this.title}}</div>
            <div>
                <hr style="margin: 4%;">
            </div>
            </div>
            <div class="lowerPart">
                <div class="data" style="color: rgb(143, 138, 138);">{{this.description}}</div>     
            </div>
                    
        </div>

        {{/each}}

    </div>


    <div id="allTests">

        {{#each allTests}}

         <div class="assignment card {{this._id}}" id="assignment-{{@key}}" onclick="openAssignment({{@key}})">
            <div class="upperPart">
                <div style="font-size: xx-large;">{{this.title}}</div>
            <div>
                <hr style="margin: 4%;">
            </div>
            </div>
            <div class="lowerPart">
                <div class="data" style="color: rgb(143, 138, 138);">{{this.description}}</div>     
            </div>
                    
        </div>

        {{/each}}

    </div>


    <div id="allSchedule">
        <table class="timeTable">
            <thead>
            <tr>
                <th>Title</th>
                <th style="width: 30rem;">Description</th>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Link (click to open) </th>
                <th>Passcode </th>
            </tr>
        </thead>

        {{#each allScheduledClasses}}

        <tbody>
            <tr>
                <td>{{this.title}}</td>
                <td>
                    <p style="overflow-y: scroll; width: 250px; height: 100px;">{{this.description}}</p>
                </td>
                <td>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td>{{this.duration}} Hours</td>
                <td style="cursor: pointer;" id="btn-{{@key}}" onclick="openClassinNewWindow({{@key}})">{{this.classLink}}</td>
                <td>
                    {{formatPassword this.classPassword}}
                    
                </td>
            </tr>
        </tbody>
        {{/each}}
        </table>
    </div>
</div>



<script>
    document.getElementById("allAssignments").style.display = "grid";
    document.getElementById("box-1").style.borderBottom = "2px solid #1e8dff";
    document.getElementById("box-1").style.backgroundColor = "#f0fbff";

    document.getElementById("box-1").addEventListener("click", function () {
        document.getElementById("allAssignments").style.display = "grid";
        document.getElementById("allSchedule").style.display = "none";
        document.getElementById("allTests").style.display = "none";
        document.getElementById("box-1").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-2").style.borderBottom = "none";
        document.getElementById("box-3").style.borderBottom = "none";
        document.getElementById("box-1").style.backgroundColor = "#f0fbff";
        document.getElementById("box-2").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-3").style.backgroundColor = "#E7EDEF";
    });
    document.getElementById("box-2").addEventListener("click", function () {
        document.getElementById("allSchedule").style.display = "flex";
        document.getElementById("allAssignments").style.display = "none";
        document.getElementById("allTests").style.display = "none";
        document.getElementById("box-2").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-1").style.borderBottom = "none";
        document.getElementById("box-3").style.borderBottom = "none";
        document.getElementById("box-2").style.backgroundColor = "#f0fbff";
        document.getElementById("box-1").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-3").style.backgroundColor = "#E7EDEF";

    });


    document.getElementById("box-3").addEventListener("click", function () {
        document.getElementById("allTests").style.display = "flex";
        document.getElementById("allAssignments").style.display = "none";
        document.getElementById("allSchedule").style.display = "none";
        document.getElementById("box-3").style.borderBottom = "2px solid #1e8dff";
        document.getElementById("box-1").style.borderBottom = "none";
        document.getElementById("box-2").style.borderBottom = "none";
        document.getElementById("box-3").style.backgroundColor = "#f0fbff";
        document.getElementById("box-1").style.backgroundColor = "#E7EDEF";
        document.getElementById("box-2").style.backgroundColor = "#E7EDEF";
    });

    function editCard(key) {
        console.log(key);
        let id1 = `class-${key}`;
        console.log('kkkk' + id1);

        location.assign('/teacherDashboard/' + code + 'assignment' + id);
    }

    function openAssignment(key) {
        console.log(key);
        let id1 = `assignment-${key}`;
        console.log(id1);

        location.assign(location.pathname + '/assignment/' + document.getElementById(id1).classList[2]);
    }

    function openClassinNewWindow(key){
        let meetLink = document.getElementById(`btn-${key}`).innerText;
        window.open(meetLink);
    }

</script>