<style>
    body{    
        background-color: rgb(231 237 239);
    }
    #allSchedule{
        justify-content: center;
    }
    th, td{
        border: 1px solid black;
    }
    table{
        margin-top: 5%;
        width: 60%;
        height: auto;
    }
    tr>th{
        font-size: large;
        background-color: blanchedalmond;
        padding: 20px;
    }
    tr>td{
        background-color: blanchedalmond;
        padding: 20px;
    }
</style>
<div class="mainContainer">
    <div class="subjectContainer">
        <h2>{{classInfo.className}}</h2>
        <h2>Students Enrolled-{{classInfo.classStudents.length}}</h2>
        <h2>https://meet.google.com/{{classCode}}</h2>
    </div>
</div>
<div class="classNavbar">
    <div class="box1" id="box-1">
        <h3 onclick="openAssignments()">ASSIGNMENTS / TESTS</h3>
    </div>
    <div class="box1" id="box-2">
        <h3 onclick="openClassShedule()">CLASSES</h3>
    </div>
</div>
<div id="allAssignments">
    
    {{#each allAssignments}}

    <div class="card" id="card-{{@key}}" onclick="editCard({{@key}})">
        <div class="upperPart">
            <div>{{this.title}}</div>
            <div>
                <hr style="margin: 4%;">
            </div>
            <div class="data" style="color: rgb(143, 138, 138);">{{this.description}}</div>     
        </div>
    </div>

    {{/each}}

</div>
<div id="allSchedule">
    <table class="timeTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>start time</th>
            <th>Duration</th>
            <th>Class Link</th>
        </tr>
    </thead>
    {{#each allScheduledClasses}}

    <tbody>
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.classLink}}</td>
        </tr>
    </tbody>
    {{/each}}
    </table>
</div>
<br><br>
<script>
    document.getElementById("box-1").addEventListener("click", function() {
        document.getElementById("allAssignments").style.display="flex";
        document.getElementById("allSchedule").style.display="none";
        document.getElementById( 'allAssignments' ).scrollIntoView();
        document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";
        document.getElementById("box-2").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
    });
    document.getElementById("box-2").addEventListener("click", function() {
        document.getElementById("allSchedule").style.display="flex";
        document.getElementById("allAssignments").style.display="none";
        document.getElementById( 'allSchedule' ).scrollIntoView();
        document.getElementById("box-2").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da582, #f7bb97, white)";
        document.getElementById("box-1").style.backgroundImage= "linear-gradient(rgb(2 119 189), #f77da5, #f7bb97, white)";
    });
        
    function editCard(key){
        console.log(key);
        let id1 = `class-${key}`;
        console.log('kkkk'+id1);

        location.assign('/teacherDashboard/'+code+'assignment'+id);
    }

</script>