<style>

    body{
        background-color: rgb(231 237 239);
    }
    .tableTeacherDashboard{
        display: flex;
        justify-content: center;
    }
    th, td{
        border: 1px solid black;
    }
    table{
        margin-top: 5%;
        width: 60%;
        height: auto;
    }
    tr>th{
        font-size: large;
        background-color: #d2f6ff;
        padding: 20px;
    }
    tr>td{
        background-color: #f0fbff;
        padding: 20px;
    }

</style>
<div> 
    <div class="box">
    {{#each allClasses}}

        <div class="card" id="card-{{@key}}" onclick="editCard({{@key}})">
            <div class="upperPart">
                <div class="data teacherDashClassName">{{this.className}}</div>
                <div class="delete_class_code">
                <div class="data" id="class-{{@key}}">{{this.classCode}}</div>
                </div>
                <div class="data">{{this.classTeacher}}</div>
                <div>
                    <hr> 
                </div>
            </div>
            
            <div class="lowerPart">
                <div class="data description" >{{this.classDescription}}</div>
                <div class="data">{{this.classTeacherId}}</div>
            </div>
            <br><br>
        </div>
    {{/each}}

    <div id="allAssignments">
    
        {{#each allAssignments}}

        <div class="assignment card {{this._id}}" id="assignment-{{@key}}" onclick="openAssignment({{@key}})">
            <div class="upperPart">
                <div>{{this.title}}</div>
                <div>
                    <hr style="margin: 4%;">
                </div>
                <div class="data" style="color: rgb(143, 138, 138);">{{this.description}}</div>     
            </div>
        </div>

        {{/each}}

        </div>
    </div>

<hr>
    <div class="tableTeacherDashboard">
        <table border="2" class="timeTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Link (click to open) </th>
                <th>Passcode </th>
            </tr>
        </thead>
        {{#each allScheduledClasses}}

        <tbody>
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{formatDate this.startTime 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td>{{this.duration}} Hours</td>
                <td id="btn-{{@key}}" onclick="openClassinNewWindow({{@key}})">{{this.classLink}}</td>
                <td>
                    {{#if this.classPassword}}
                        {{this.classPassword}}
                    {{/if}}
                        No Password
                </td>
            </tr>
        </tbody>
        {{/each}}
        </table>
    </div>
</div>

<script>



    function editCard(key){
        console.log(key);
        let id = `class-${key}`;
        console.log(id);
        location.assign('/teacherDashboard/'+document.getElementById(id).innerHTML);
    }



    function openClassinNewWindow(key){
        let meetLink = document.getElementById(`btn-${key}`).innerText;
        window.open(meetLink);
    }


    
</script>